<div class="form-container">
  <img src="/assets/tagme-svg.svg" alt="Logo da Empresa" class="logo" />
  <h2>{{ isEditMode ? "Editar Item" : "Criar Item" }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div class="file-upload">
      <label for="photo">Foto</label>
      <input id="photo" type="file" (change)="onFileSelected($event)" />
    </div>

    <button mat-raised-button type="submit" class="submit-button">
      {{ isEditMode ? "Atualizar" : "Criar" }}
    </button>
  </form>
</div>
